$lightgrey: hsl(0, 0%, 87%);

//The current mobile breakpoint should be
$mobilebp: 1000px;

html {
  font-family: "DM Sans", sans-serif;
  min-width: 100%;
  max-width: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  max-width: 100%;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4px;
}

p {
  font-size: 15px;
  line-height: 25px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 10.3rem;
}

@media all and (max-width: 1000px) {
  .navbar {
    padding: 28px 24px;
  }
}

.nav-link {
  text-decoration: none;
  color: black;

  font-size: 12px;
  letter-spacing: 2px;
  line-height: 16px;
  font-weight: 700;
  transition: color 0.1s;
}

.nav-link-middle {
  margin: 0 37px;
}

.nav-link:hover {
  color: $lightgrey;
}

.nav-button {
  font-family: "DM Sans", sans-serif;
  color: white;
  background-color: black;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 16px;
  outline-color: transparent;
  border-color: transparent;
  padding: 0.75rem 1.5rem;
  transition: all 0.2s;
}

.nav-button:hover {
  cursor: pointer;
  color: black;
  background-color: $lightgrey;
}

// .nav-triangle {
//   width: 19px;
//   height: 16px;
//   background: linear-gradient(
//     to top right,
//     hsl(28, 100%, 79%),
//     hsl(329, 36%, 59%),
//     hsl(229, 100%, 67%)
//   );
//   clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
// }

.photosnap-footer {
  color: white;
  background-color: black;
  padding: 4rem 10.3rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media all and (max-width: 1000px) {
  .photosnap-footer {
    padding: 56px 32px;
    flex-direction: column;
    align-items: center;
  }
}

.footer-logos,
.footer-nav,
.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-left {
  display: flex;
  flex-direction: row;
}

.footer-logos {
  justify-content: space-between;
  margin-right: 109px;
}

.footer-logos > img {
  max-width: 170px;
}

.footer-logos-socials > img {
  margin-right: 13.33px;
}

.footer-nav > a {
  text-decoration: none;
  color: white;
  font-family: "DM Sans", sans-serif;
  margin-top: 19px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  transition: opacity 0.1s;
}

.footer-nav > a:hover {
  cursor: pointer;
  opacity: 0.3;
}

.footer-nav > a:first-child {
  margin-top: 0px;
}

.footer-right {
  justify-content: space-between;
  align-items: flex-end;
}

.copyright {
  opacity: 50%;
  font-size: 15px;
  line-height: 20px;
}

@media all and (max-width: 1000px) {
  .footer-left {
    margin-bottom: 120px;
    flex-direction: column;
    align-items: center;
  }

  .footer-logos {
    margin: 0;
    margin-bottom: 50px;
    img {
      margin-bottom: 32px;
    }
  }

  .footer-logos-socials {
    display: flex;
    flex-direction: row;
    img {
      margin: 0;
    }
    justify-content: space-between;
  }

  .footer-nav {
    align-items: center;
    text-align: center;
  }

  .footer-right {
    flex-direction: column;
    align-items: center;
  }
}
