.feature-card {
  display: flex;
  flex-direction: row;
  justify-items: center;
  width: 100%;
}

.feature-card--info {
  color: white;
  background-color: black;
  padding: 7rem;
}

.feature-card--info > h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 4.17px;
}

.feature-card--info > p {
  font-size: 15px;
  line-height: 25px;
  opacity: 60%;
}
