$lightgrey: hsl(0, 0%, 87%);

.home-card,
.card-button {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

@media all and (max-width: 1000px) {
  .home-card {
    flex-direction: column-reverse;
  }

  .home-card--center {
    flex-direction: column;
  }
}

.home-card--info {
  padding: 0 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media all and (max-width: 1000px) {
  .home-card--info {
    padding: 72px 32px;
  }
}

.home-card--info > h2 {
  margin: 0;
}

.home-card-black {
  color: white;
  background-color: black;
}

.home-card-black > p {
  opacity: 60%;
}

.home-card--image {
  flex-basis: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

@media all and (max-width: 1000px) {
  .home-card--image {
    flex-basis: auto;
    height: 271px;
    background-position: center;
  }
}

.hc-image1 {
  background-image: url(../assets/home/desktop/create-and-share.jpg);
}

.hc-image2 {
  background-image: url(../assets/home/desktop/beautiful-stories.jpg);
}

.hc-image3 {
  background-image: url(../assets/home/desktop/designed-for-everyone.jpg);
}

@media all and (max-width: 400px) {
  .hc-image1 {
    background-image: url(../assets/home/mobile/create-and-share.jpg);
  }

  .hc-image2 {
    background-image: url(../assets/home/mobile/beautiful-stories.jpg);
  }

  .hc-image3 {
    background-image: url(../assets/home/mobile/designed-for-everyone.jpg);
  }
}

.card-button--action {
  font-family: "DM Sans", sans-serif;
  outline-color: transparent;
  border-color: transparent;
  color: inherit;
  background-color: transparent;
  padding: 0;
  margin-right: 1rem;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}

.card-button--action:hover {
  cursor: pointer;
  text-decoration: underline;
}

.home-story-card-container {
  display: flex;
  flex-direction: row;
  div {
    flex-basis: 25%;
  }
}

@media all and (max-width: 1000px) {
  .home-story-card-container {
    flex-direction: column;
    div {
      flex-basis: auto;
    }
  }
}

.home-story-card {
  color: white;
  padding: 2.5rem;
  box-sizing: border-box;
  min-height: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: transform 0.3s;
}

.home-story-card:hover {
  cursor: pointer;
  transform: translateY(-16px);
}

.story-card > h3 {
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
}

.story-card > p {
  font-size: 13px;
  line-height: 17px;
  margin: 0;
  padding: 0;
}

.story-hr {
  color: hsl(0, 0%, 87%);
  width: 100%;
  border-style: solid none none none;
  opacity: 60%;
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}

.story-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.story-button > a {
  text-decoration: none;
  color: white;
  line-height: 16px;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 500;
}

.s-themountains {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.01) 28%,
      rgba(0, 0, 0, 0.66) 100%
    ),
    url("../assets/stories/desktop/mountains.jpg");
}

.s-cityscapes {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.01) 28%,
      rgba(0, 0, 0, 0.66) 100%
    ),
    url("../assets/stories/desktop/cityscapes.jpg");
}

.s-18days {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.01) 28%,
      rgba(0, 0, 0, 0.66) 100%
    ),
    url("../assets/stories/desktop/18-days-voyage.jpg");
}

.s-architecturals {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.01) 28%,
      rgba(0, 0, 0, 0.66) 100%
    ),
    url("../assets/stories/desktop/architecturals.jpg");
}

@media all and (max-width: 400px) {
  .s-themountains {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.01) 28%,
        rgba(0, 0, 0, 0.66) 100%
      ),
      url("../assets/stories/mobile/mountains.jpg");
  }

  .s-cityscapes {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.01) 28%,
        rgba(0, 0, 0, 0.66) 100%
      ),
      url("../assets/stories/mobile/cityscapes.jpg");
  }

  .s-18days {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.01) 28%,
        rgba(0, 0, 0, 0.66) 100%
      ),
      url("../assets/stories/mobile/18-days-voyage.jpg");
  }

  .s-architecturals {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.01) 28%,
        rgba(0, 0, 0, 0.66) 100%
      ),
      url("../assets/stories/mobile/architecturals.jpg");
  }
}

.features-container {
  margin: 160px 165px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  div {
    flex-basis: 33%;
  }
}

.feature-box {
  &:nth-child(-n + 2) {
    margin-bottom: 104px;
  }
  box-sizing: border-box;
  height: 236px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.fb-center {
  padding: 0px 30px;
}

@media all and (max-width: 1000px) {
  .features-container {
    margin: 80px 32px;
    flex-direction: column;
  }
}
