.pricing-card {
  display: flex;
  flex-direction: row;
  justify-items: center;
  width: 100%;
}

.pricing-card--info {
  box-sizing: border-box;
  flex-basis: 40%;
  color: white;
  background-color: black;
  padding: 7rem;
}

.pricing-card--info > h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 4.17px;
}

.pricing-card--info > p {
  font-size: 15px;
  line-height: 25px;
  opacity: 60%;
}

.pricing-card--image {
  flex-basis: 60%;
  background-image: url(../assets/pricing/desktop/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

.pricing-plans-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 120px 0px 48px 0px;

  button {
    width: 64px;
    height: 32px;
    border: none;
    border-radius: 16px;
    margin: 0px 32px;
    background-color: hsl(0, 0, 88%);
    cursor: pointer;
    div {
      height: 24px;
      width: 24px;
      border-radius: 12px;
      background-color: black;
    }
  }
  p {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: hsla(0, 0, 0, 0.5);
  }
}

.pricing-plans-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    min-width: 350px;
    max-width: 350px;

    h3 {
      font-weight: 700;
      font-size: 24px;
      margin: 0;
    }

    .plan-description {
      margin: 18px 0px 40px;
    }

    .plan-price {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 4.17px;
      margin: 0;
    }

    .plan-per {
      margin: 0px;
      margin-bottom: 40px;
    }

    button {
      border: none;
      font-family: inherit;
      font-weight: 700;
      font-size: 12px;
      line-height: 15.62px;
      letter-spacing: 2px;
      width: 100%;
      padding: 12px;
      cursor: pointer;
    }
  }
  margin: 0px 165px 160px;
}

.pricing-plan-outer {
  background-color: hsl(0, 0, 96%);
  padding: 40px;

  .plan-description,
  .plan-per {
    color: hsla(0, 0, 0, 0.6);
  }

  button {
    color: white;
    background-color: black;

    &:hover {
      background-color: hsl(0, 0, 88%);
      color: black;
    }
  }
}

.pricing-plan-inner {
  background-color: black;
  color: white;
  padding: 40px;
  margin: 0px 30px;

  .plan-description,
  .plan-per {
    color: hsla(0, 0, 100%, 0.6);
  }
  button {
    color: black;
    background-color: white;
    &:hover {
      background-color: hsl(0, 0, 88%);
      color: black;
    }
  }
  border-top: 32px solid black;
  border-bottom: 32px solid black;

  &::before {
    position: absolute;
    content: " ";
    width: 350px;
    height: 6px;
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
    transform: translateY(-1200%);
  }
}

.pricing-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 160px;

  h2 {
    margin: 0px 0px 56px;
  }
}

table {
  font-weight: 700;
  font-size: 12px;
  line-height: 15.62px;
  letter-spacing: 2px;
  border-collapse: collapse;
  th {
    border-bottom: 1px solid black;
    padding-bottom: 24px;
    min-width: 140px;
    :first-child {
      text-align: left;
    }
  }
  td:not(:first-child) {
    text-align: center;
  }

  td:first-child {
    padding-right: 48px;
  }

  td {
    padding: 24px 0px;
    border-bottom: 1px solid hsl(0, 0, 88%);
  }
}
